@import url('https://fonts.googleapis.com/css2?family=Playwrite+CL:wght@100..400&family=Playwrite+ES:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

@keyframes popup {
    0%{translate: 0px 0;}
    50%{translate: -20px 0;}
    100%{translate: 0px 0;}
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #345;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Dosis", sans-serif, Arial, cursive;
    font-weight: 500;
    color: #345;
    transition: 0.2s ease, outline;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    width: 100%;
    height: 80px;

    nav {
        width: 100%;
        height: 100%;
    }
    z-index: 2;
}

p,span{
    font-size: 20px;
}

h1{
    font-family: "Playwrite CL", cursive;
    color: #345;
    text-shadow: 2px 2px 0 #fff,4px 4px 0 #FFDE4D;
    font-weight: bold;
}

li,
a {
    list-style: none;
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;

    &:hover {
        background-color: #ddd7;
    }
}

a {
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.row {
    flex-flow: row;
}

.column {
    flex-flow: column;
}

.menu{
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 15px;
    outline: 2px solid #234;
    background-color: #fff;

    &::before, &::after{
        position: absolute;
        content: '';
        display: block;
        width: 25px;
        height: 3px;
        border-radius: 15px;
        outline: 2px solid #234;
        background-color: #fff;
        transition: 0.2s;
    }

    &::before{
        transform: translateY(-10px);
    }

    &::after{
        transform: translateY(10px);
    }
}

.menu.click{
    background-color: transparent;
    outline: none;

    &::before{
        transform: translateY(0px) rotate(-45deg);
    }

    &::after{
        transform: translateY(0px) rotate(45deg);
    }
}

.header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;

    img {
        width: 50px;
    }

    .logo {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        align-items: center;
        font-size: large;
        font-weight: bold;
        &:hover {
            scale: 1.05;
        }
    }
    
    .toggle{
        height: 40px;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        opacity: 0;
        pointer-events: none;
    }

    .menu-container {
        li {
            background-color: transparent;

            &:hover {
                background-color: transparent;
            }
        }
        a{
            width: auto;
            position: relative;
            background-color: #fff;
            border: 2px solid #678;
            padding: 10px;
            box-shadow: 5px 5px 0 #FFDE4D;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover, &.click{
                background-color: #678;
                color: #fff;
            }

            &.click{
                outline: 2px solid #fff;
                animation-name: popup;
                animation-duration: 1s;
                animation-iteration-count: 1;
            }
        }
    }
}

main {
    position: fixed;
    inset: 80px 0 0 0;
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden scroll;

    section {
        width: 100%;
        height: calc(100% - 80px);
        min-height: 350px;
        padding: 20px;
    }
}

#about,
#help,
#types {

    justify-content: space-evenly;

    .description {
        align-items: flex-start;
        max-width: 350px;
    }

    img {
        width: 50%;
        max-width: 400px;
    }
}

footer {
    height: 100px;
    background-color: #345;

    p,
    span {
        color: #fff;
    }
}

#types {
    height: auto;
    .cards {
        width: 100%;
        height: calc(100% - 100px);
        padding: 20px;

        .card {
            width: auto;
            max-width: 200px;
            height: auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4fr 1fr;
            justify-items: center;
            align-items: center;
            border: 2px solid #678;
            overflow: hidden;
            cursor: pointer;
            border-radius: 15px;
            padding: 10px;

            p{
                text-align: center;
                width: 100%;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            img {
                width: 100%;
                max-width: 300px;
            }

            &:hover {
                scale: 1.05;
                background-color: transparent;
            }
        }
    }
}

@media screen and (max-width:650px){

    .header{
        .toggle{
            opacity: 1;
            pointer-events: all;
        }

        .menu-container{
            position: fixed;
            opacity: 0;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            inset: 80px 0 0 0;
            height: 0;
            width: calc(100% - 5px);
            gap: 30px;
            backdrop-filter: blur(4px);
            overflow: hidden;
        }

        .toggle.click + .menu-container{
            height: calc(100% - 80px);
            background-color: #fff4;
            opacity: 1;
            box-sizing: content-box;
        }
    }
}

@media screen and (max-width:500px){
    #about,#help,#types{
        img{
            order: -1;
        }
        flex-flow: column;
        .description{
            width: 100%;
        }
    }

    #help{
        img{
            display: none;
        }

        background-color: #FFDE4D;
    }

    #types{
        .cards{
            flex-flow: row wrap;
            .card{
                img{
                    max-width: 100px;
                }
            }
        }
    }
}